<!DOCTYPE html>
{% load static %}
<html>
<head>
	<link href="https://fonts.googleapis.com/css2?family=Caveat&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet"> 
	<script src="https://kit.fontawesome.com/7b277203c6.js" crossorigin="anonymous"></script>
	<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
	<meta name="viewport" content="width=device-width,initial-scale=1.0">
	{% block head %}
		<title>Title</title>
	{% endblock %}
</head>
<body data-media-url="{% get_media_prefix %}">
	<header>
		<nav>
			<div class="nav-logo">
				<a href="{% url 'users:home' %}">icebook</a>
			</div>
			{% if request.user.is_authenticated and request.user.has_profile %}
				<form>
					<input type="text" placeholder="Search">
					<button class="search-btn"><i class="fas fa-search"></i></button>
				</form>

				<ul class="nav-list">
					<li class="nav-link nav-link-text"><a href="{% url 'posts:add-post' %}">New Post</a></li>
					<li class="nav-link nav-link-text"><a href="#">Chat</a></li>
					<li class="nav-link nav-link-image"><a class="nav-profile" href="{% url 'users:profile' username=request.user.profile.username %}"><img src="{{ request.user.profile.profile_picture.url }}" alt="User-img" height=40" width="40"></a></li>
				</ul>
			{% endif %}
		</nav>
	</header>
	<div class="container">
		<div class="spinner"></div>
		{% block content %}
		{% endblock %}
	</div>
</body>
</html>