{% extends "base.html" %}
{% load static %}
{% block head %}
	<link rel="stylesheet" type="text/css" href="{% static 'css/profile.css' %}">
{% endblock %}
{% block content %}
<div class="master">
	{% include "accounts/profile-left-section.html" %}
	<hr>
	<div class="posts-container">
		<a href="{% url 'profile' %}" class="post-button">
			<button>Posts</button>
		</a>
		<a href="{% url 'profile-archived' %}" class="post-button active">
			<button>Archived Posts</button>
		</a>
		<div class="posts">
			
		{% for post, liked, like_no in master %}
			<div class="profile-posts">
				<h3>{{ post.title }}</h3>
				<a href="{% url 'update-post' pk=post.pk %}"><button>Edit</button></a>
				<a href="{% url 'delete-post' pk=post.pk %}"><button class="del-button">Delete</button></a>
				<a href="{%  url 'un-archive' pk=post.pk %}">
				<button>un-archive</button>
				</a>
				<p>Created at : {{ post.created }}</p>
				<p>Updated at : {{ post.updated }}</p>
				{% if post.img %}
					<img src="{{ post.img.url }}">
				{% endif %}
				<p>{{ post.description }}</p>
				{% include "accounts/likes_logic.html" %}
			</div>
		{% endfor %}
			
		</div>
	</div>
</div>
{% endblock %}