[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
flake8-annotations = "*"
pre-commit = "*"

[packages]
pillow = "*"
python-dotenv = "*"
django-crispy-forms = "*"
djangorestframework = "*"
django = "*"
markdown = "*"
django-filter = "*"
django-debug-toolbar = "*"

[requires]
python_version = "3.8"

[scripts]
start = "python manage.py runserver"
test = "python manage.py test"
lint = "pre-commit run --all-files"
