{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="top">
	<div class="heading">
		<h1>IceBook</h1>
		<div class="brand">
			<img src="media/IceBookLogo.png">
		</div>
	</div>
	<div class="content">
		<p>IceBook is a social media site inspired by FaceBook.</p>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque vulputate ipsum tristique porta scelerisque. Pellentesque consectetur eu sem ut vehicula. </p>
		<hr>
		{% if not request.user.is_authenticated %}
			<div>
				Start by Registering <a href="{% url 'register' %}"><button>Register</button></a>
			</div>
			<div>
				Already have an account? <a href="{% url 'login' %}"><button>Login</button></a>
			</div>
		{% else %}
			<div>
				Start exploring and have fun <a href="{% url 'display-posts' %}"><button>Posts</button></a>
			</div>
		{% endif %}
	</div>
</div>
{% endblock %}