.spinner {
    display: none;
    position: absolute;
    top: 15vh;
    left: 50%;
    padding: 30px;
    border-radius: 50%;
    border: 5px rgb(204, 204, 204) solid;
    border-top-color: rgb(195, 71, 71);
    animation: spin 1s infinite;
}

.spinner.active {
    display: block;
}

@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}

.liked {
    color: #3498db;
}

.posts {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.post-container {
    width: 800px;
    height: auto;
    margin: 15vh 0;
    box-shadow: 0px 10px 28px 0px rgba(0, 0, 0, 0.75);
    .user-details {
        background-color: $post-trim-color;
        color: black;
        border-bottom: 1px rgb(192, 192, 192) solid;
        .user-profile {
            display: flex;
            padding: 5px;

            img {
                border-radius: 50%;
            }

            .author-name {
                font-size: 1.3rem;
                margin-left: 10px;
            }
        }
    }

    .post-data {
        .post-image {
            width: 100%;
            height: 100%;
        }
        .posted-on {
            padding: 10px 10px 0 10px;
            font-size: 0.8rem;
        }
        .post-description {
            padding: 0 10px;
            color: $small-text-color;
        }
    }

    .social-btns {
        padding-left: 10px;
        padding-bottom: 5px;
        background-color: $post-trim-color;
        .social-btn {
            .social-btns {
                padding: 0;
            }
            i {
                font-size: 1.5rem;
                margin: 0 10px;
            }
        }
    }
}

.post-comments {
    position: absolute;
    top: 15vh;
    left: 30vw;
    width: 30vw;
    max-height: 70vh;
    overflow-y: scroll;
    padding: 10px;
    box-shadow: 0px 10px 28px 0px rgba(0, 0, 0, 0.75);
    border-radius: 10px;
    background: rgb(255, 255, 255);
    transform: translateX(-100vw);

    .control-bar {
        @include flex-starter();
        justify-content: space-between;
    }

    .comment-container {
        display: flex;
        margin: 20px 5px;
    }
    .user-profile-pic img {
        margin: 10px;
        border-radius: 50%;
    }
    .comment * {
        display: inline;
    }

    .comment small {
        display: block;
    }
}

.comments-slide {
    animation: slide 1s forwards;
}

.add-comment {
    background: white;
    position: sticky;
    bottom: 0;
    box-shadow: 0px 10px 28px 0px rgba(0, 0, 0, 0.75);
    padding: 10px;
    border-radius: 5px;
    @include flex-starter();
    .add-comment-btn {
        border: 2px grey solid;
        font-size: 0.8rem;
    }

    .comment-input {
        border: none;
        border-bottom: 2px grey solid;
        margin: 0 5px;
        padding: 5px;
    }
}

@keyframes slide {
    100% {
        transform: translateX(0);
    }
}
