.liked{
    color: #3498db;
}

.post-container{
    margin: 15vh 10vw;
    box-shadow: 0px 10px 28px 0px rgba(0,0,0,0.75);
    border-radius: 10px;
    overflow: hidden;

    .user-details{
        background: $post-trim-color;
        @include flex-starter();
        padding: 5px;
        border-bottom: 2px rgb(231, 199, 199) solid;
        font-size: 1.3rem;

        .user-profile-pic{
            margin: 5px 10px 0 10px;
            img{
                border-radius: 50%;
            }
        }

        .author-name{
            color: white;
        }
    }
    .post-data{
        max-height: 60vh;
        overflow: hidden;

        .markdown{
            margin: 30px;
            
            .post-title{
                margin-bottom: 20px;
                padding-bottom: 10px;
                border-bottom: 2px rgb(196, 179, 179) solid;
                display: inline-block;
            }

        }
    }

    .social-btns{
        // background-color: $post-trim-color;
        padding: 10px;
        box-shadow: 0px 10px 28px 0px rgba(0,0,0,0.75);
        font-size: 1.6rem;
        .social-btn{
            .social-btns{
                padding: 0;
            }
            i{
                font-size: 1.6rem;
                margin: 0 10px;
            }

        }
    }

}

.post-comments {
    position: absolute;
    top: 20vh;
    left: 30vw;
    width: 30vw;
    height: 80vh;
    overflow-y: scroll;
    padding: 10px;
    box-shadow: 0px 10px 28px 0px rgba(0,0,0,0.75);
    border-radius: 10px;
    background: rgb(255, 255, 255);
    transform: translateX(-100vw);

    .comment-container{
        display: flex;
        margin: 20px 5px;
    }
    .user-profile-pic img{
        margin: 10px;
        border-radius: 50%;
    }
    .comment *{
        display: inline;
    }

    .comment small{
        display: block;
    }

}

.comments-slide{
    animation: slide 1s forwards;
}

.add-comment{
    background: white;
    position: sticky;
    bottom: 0;
    box-shadow: 0px 10px 28px 0px rgba(0,0,0,0.75);
    padding: 10px;
    border-radius: 5px;
    @include flex-starter();
    .add-comment-btn{
        border: 2px grey solid;
        font-size: 0.8rem;
    }

    .comment-input{
        border: none;
        border-bottom: 2px grey solid;
        margin: 0 5px;
        padding: 5px;
    }
}

@keyframes slide {
    100%{
        transform: translateX(0);
    }
}