$text-color: #414141;
$small-text-color: #646464;

$navbar-text-color: #000000;
$navbar-text-hover: #1a1a1a;
$navbar-background-color: #fff;

$post-trim-color: rgb(238, 238, 238);
$heading-color: wheat;

$body-background-color: rgb(238, 238, 238);

$profile-btn-background-color: rgb(235, 235, 235);