$text-color: #414141;
$small-text-color: #646464;

$navbar-text-color: #5e3d3d;
$navbar-text-hover: #462f2f;
$navbar-background-color: #fff;

$post-trim-color: rgb(255, 255, 255);
$heading-color: wheat;

$body-background-color: rgb(238, 238, 238);