$text-color: #414141;
$small-text-color: #646464;

$navbar-text-color: #000000;
$navbar-text-hover: #093a68;
$navbar-background-color: #fff;

$post-trim-color: rgb(255, 255, 255);
$heading-color: wheat;