{% extends "base.html" %}
{% load static %}
{% block head %}
	<link rel="stylesheet" type="text/css" href="{% static 'css/detail.css' %}">
{% endblock %}
{% block content %}
<div class="contain">
	<h1>{{ post.title|title }}</h1>
	{% if post.img %}
	<img src="{{post.img.url}}">
	{% endif %}
	<div class="small-stuff">
		<p>Created : {{ post.created }}</p>
		<p>Updated : {{ post.updated }}</p>
		<p>By : <a href="{% url 'display' user_id=post.user.pk %}">{{ post.user }}</a></p>
	</div>
	<br>
	<p class="description">{{ post.description }}</p>
	{% if liked %}
		<form method="POST" action="{% url 'like' pk=post.pk destination='detail' %}">
		{% csrf_token %}
		<button type="submit" name="next" value="{{ request.path }}"><span class="count">{{like_no}}</span><i class="fas fa-thumbs-up post-icon"></button></i>
		</form>
	{% else %}
		<form method="POST" action="{% url 'like' pk=post.pk destination='detail' %}">
		{% csrf_token %}
		<button type="submit" name="next" value="{{ request.path }}"><span class="count">{{like_no}}</span><i class="far fa-thumbs-up post-icon"></button></i>
		</form>
		<!-- </a> -->
	{% endif %}
	<a href="{% url 'add-comment' pk=post.pk %}">
		<button><span class="count">{{num_comments}}</span><i class="fas fa-comments post-icon"></i></button>
	</a>
	<h3 class="comment-heading">Comments :</h3>
	<div class="comments">
		{% for comment in comments %}
		<div class="single-comment">
			<div class="comment-user"><b>{{ comment.user }}</b></div>
			<p class="comment-time">{{comment.commented_time}}</p>
			<div class="com">{{ comment.comment }}</div>
		</div>
		{% endfor %}
	</div>
</div>

{% endblock %}