{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/about.css' %}">
{% endblock %}

{% block content %}
<main>
	<!-- <div class="profile_img"> -->
		<img src="{% static 'images/login.jpg' %}">
	<!-- </div> -->
	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi pretium ante ac erat consequat commodo. Nulla consectetur turpis sit amet metus finibus efficitur. Proin malesuada magna ut lorem blandit ultrices.</p>
	<a href="https://github.com/rohanjnr"><button>Github</button></a>
</main>

<section class="projects">
	<h2>My Personal Projects</h2>
	<article class="card">
		<div class="project_img">
			<img src="{% static 'images/icebook.jpg' %}" alt="">
		</div>
		<div class="description">
			<h3>IceBook Website</h3>
			<p>A social media website where you can post pictures or type some text and get likes and comments!</p>
			<p>Features:</p>
			<ul>
				<li>Edit your profile.</li>
				<li>Archive and edit posts.</li>
				<li>Search users.</li>
				<li>Like and comment on posts.</li>
			</ul>
			<a href="https://github.com/rohanjnr/IceBook-Django"><button>Code</button></a>
		</div>
	</article>
	<article class="card">
		<div class="project_img">
			<img src="{% static 'images/todo.jpg' %}" alt="">
		</div>
		<div class="description">
			<h3>TodoApp Website</h3>
			<p>A website to manage your daily timetable and organise projects.</p>
			<p>Features:</p>
			<ul>
				<li>Add Projects.</li>
				<li>Add tasks under those projects.</li>
				<li>Set deadlines.</li>
			</ul>
			<a href="https://github.com/rohanjnr/TodoApp-django"><button>Code</button></a>
		</div>
	</article>
	<article class="card">
		<div class="project_img">
			<img src="{% static 'images/gator_bot.jpg' %}" alt="">
		</div>
		<div class="description">
			<h3>Gator Bot</h3>
			<p>A discord bot built for ClashOfClans purpus:</p>
			<p>Features:</p>
			<ul>
				<li>Access to clashAPI.</li>
				<li>Fetch posts from reddit.</li>
				<li>Loot index.</li>
				<li>War reminders.</li>
				<li>Save notes with the bot and much more.</li>
			</ul>
			<a href="https://github.com/rohanjnr/Gator_Bot_no_Gspread"><button>Code</button></a>
		</div>
	</article>
</section>

<section class="open_source_contrib">
	<h2>My contributions to open source.</h2>
	<article class="card">
		<div class="project_img">
			<img src="{% static 'images/seasonalbot.jpg' %}" alt="">
		</div>
		<div class="description">
			<h3>Seasonalbot</h3>
			<p>A Discord bot started as a community project for Hacktoberfest 2018, later evolved to bot that changes with the seasons.</p>
			<p>Python Community website <a href="https://pythondiscord.com/">Here</a>.</p>
			<a href="https://github.com/RohanJnr/seasonalbot"><button>Code</button></a>
		</div>
	</article>

	<article class="card">
		<div class="project_img">
			<img src="{% static 'images/tavern.jpg' %}" alt="">
		</div>
		<div class="description">
			<h3>The Tavern Bot</h3>
			<p>A discord bot for D&D 5th edition and entertainment.</p>
			<a href="https://github.com/RubenJ01/rewrite"><button>Code</button></a>
		</div>
	</article>

	<a href="https://github.com/RohanJnr?tab=repositories"><button class="view">View all Repositories >></button></a>

</section>

<section class="contact">
	<h2>Want to do a collab ? Contact me:</h3>
	<ul>
		<li>Discord   : <b>Iceman#6508</b> </li>
		<li>Email     : <b>rohanjnr44@gmail.com</b></li>
		<li>Instagram : <b>rohanrog</b></li>
	</ul>
</section>

{% endblock %}