<!DOCTYPE html>
{% load static %}
<html>
<head>
	<link
      href="https://fonts.googleapis.com/css?family=Quicksand:300,500"
      rel="stylesheet"
    />
    <script src="https://kit.fontawesome.com/7b277203c6.js"\></script>
	<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
	<title>IceBook</title>
	{% block head %}
	{% endblock %}
</head>
<body data-media-url="{% get_media_prefix %}">
	{% include "navbar.html" %}
	<div class="space"></div>
	{% if messages %}
		
		{% for message in messages %}
		    <ul class="messages messages-{{ message.tags }}">
		    	<li>{{ message }}</li>
		    </ul>
		 {% endfor %}
		
	{% endif %}
	{% block content %}
	{% endblock %}
	<div class="space2"></div>
	{% include "footer.html" %}
</body>
</html>