@import url('https://fonts.googleapis.com/css?family=McLaren&display=swap');
*{
	margin: 0;
	padding: 0;
}
body{
	background-image: url("../images/login.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
.container{
	margin: 7% 22%;
	font-size: 20px;
	background-color:rgba(255, 255, 255, 0.3);
	-webkit-box-shadow: 0px 0px 21px 7px #000000; 
	box-shadow: 0px 0px 21px 7px #000000;
	border-radius: 20px;
}
form{
	opacity: 1;
	padding: 20px;
	padding-left: 50px;
}
form legend{
	font-family: "McLaren";
	font-size: 45px;
	font-weight: 500;
	color: white;
	text-align: center;
	margin: 10px;
	margin-bottom: 20px;
}
form label{
	color: white;
	text-align: left;
	font-weight: 400;
}
form input{
	color: black;
	margin-bottom: 40px;
	padding: 10px;
	padding-left: 6px;
	font-size: 15px;
	font-weight: 500;

}
form input[type="text"], input[type="password"], input[type="email"]{
	border-radius: 10px;
	border: 1px black solid;
	width: 70%;
}
form input[type="file"]{
	padding: 10px;
	color: white;
	background-color: rgba(255, 255, 255, 0.3);
}
form textarea{
	border: 1px black solid;
	margin-bottom: 40px;
	padding: 10px;
	padding-left: 3px;
	font-size: 15px;
	font-weight: bold;
	resize: none;
	border-radius: 10px;
	color: black;
}
form textarea:focus{
	border: 1.5px skyblue solid;
}
button{
	font-size: 30px;
}
