@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed&display=swap");
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:300&display=swap');
html {
  scroll-behavior: smooth;
}
body {
  background: white;
  font-family: "Quicksand", sans-serif;
  font-weight: 300;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
}

nav{
	position: fixed;
	top: 0;
	background: white;
	display: grid;
	grid-template-columns: repeat(9, 1fr);
	border-bottom: 2px orangered solid;
	width: 100%;

	padding: 6px;
	width: 100%;
	padding-bottom: 12px;
	left: 0;
	right: 0;
}
nav form{
	display: grid;
	grid-template-columns: 1fr 1fr;
}


nav a{
	text-decoration: none;
	font-size: 23px;
	font-weight: 500;
	color: black;
}
nav a:hover{
	border-bottom: 2px black solid;
}
.space{
	margin-top: 60px;
}
.top{
	background: lightgrey;
	width: 60%;
	margin: 10px;
	padding: 15px;
	border-radius: 5px;
}
.content{
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 25px;
	font-weight: 200;
}

.top h1{
	font-size: 4rem;
}
.content div{
	margin: 10px;
}

.brand{
	color: orange;
}

footer{
	
	position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
	background: #2C2F33;
	color: orangered;
	text-align: center;
	font-size: 18px;
	font-weight: 500;
	padding: 0;
	margin: 0;

}
footer p{
	margin: 5px;
	padding: 0px;
}

.space2{
	margin-bottom: 80px;
}
.description{
	font-size: 20px;
	font-weight: 400;
}
.display-posts{
	font-weight: 300;
}

.display-posts a{
	text-decoration: none;
	color: coral;

}
.post-icon{
	font-size: 30px;
	margin: 20px;
	color: coral;
}

.post-icon:hover{
	color: orangered;
}