{% if liked %}
	<form method="POST" action="{% url 'like' pk=post.pk destination='detail' %}">
	{% csrf_token %}
	<button type="submit" name="next" value="{{ request.path }}"><span class="count">{{like_no}}</span><i class="fas fa-thumbs-up post-icon"></button></i>
	</form>
	<!-- </a> -->
{% else %}
	<form method="POST" action="{% url 'like' pk=post.pk destination='detail' %}">
	{% csrf_token %}
	<button type="submit" name="next" value="{{ request.path }}"><span class="count">{{like_no}}</span><i class="far fa-thumbs-up post-icon"></button></i>
	</form>
{% endif %}
<a href="{% url 'add-comment' pk=post.pk %}">
	<button><span class="count">{{post.num_comments}}</span><i class="fas fa-comments post-icon"></i></button>
</a>