{% extends "base.html" %}
{% block content %}
<section class="search-container">
	<h1>Search for Users</h1>
	<form method="post">
		{% csrf_token %}
		{{ form.as_p }}
		<button type="submit">Search</button>
	</form>

	{% if users %}
		<ol>
		{% for user in users %}
			<li><a href="{% url 'display' user_id=user.pk %}" class="search-result">{{ user.username }}</a></li>
		{% endfor %}
		</ol>
	{% else %}
		<li class="search-result" style="font-weight: bold;text-decoration: none;">No users found.</li>
	{% endif %}
</section>
{% endblock %}