{% extends "base.html" %}
{% load static %}
{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/forms.css' %}">
{% endblock %}
{% block content %}
{% load crispy_forms_tags %}
<style type="text/css">
	.asteriskField {
    	display: none;
}
</style>
<div class="container">
	<form method="POST" enctype="multipart/form-data">
		<legend>Edit Profile</legend>
		<hr>
		{% csrf_token %}
		{{ user_form|crispy }}
		{{ profile_form|crispy }}

		<button type="submit">Update Profile</button>
	</form>
</div>
{% endblock %}