{% extends 'base/base.html' %}
{% load static %}


{% block content %}

<div class="posts">
    <article class="post-container">
        <section class="user-details">
            <div class="post-user-profile">
                <img src="{% static 'images/default.png' %}" alt="User-img" height=50" width="50">
            </div>
            <div class="user-data">
                <p>RohanJnr</p>
                <small>Posted: 2h ago</small>
            </div>
        </section>
        <section class="post-data">
            <img src="{% static 'images/example.jpg' %}" alt="post-img">
            <p>
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ipsum, velit earum. Delectus dolorum eaque laborum, atque ab repudiandae, sequi accusantium nobis incidunt illum ipsa rem error odit dolorem. Ab, ut... 
                <a href="#">Continue Reading >>></a>
            </p>
        </section>
    </article>
    <article class="post-container">
        <section class="user-details">
            <div class="post-user-profile">
                <img src="{% static 'images/default.png' %}" alt="User-img" height=50" width="50">
            </div>
            <div class="user-data">
                <p>RohanJnr</p>
                <small>Posted: 2h ago</small>
            </div>
        </section>
        <section class="post-data">
            <!-- <img src="{% static 'images/example.jpg' %}" alt="post-img"> -->
            <p>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolore officiis illo suscipit mollitia, labore nihil, minima quaerat exercitationem at aperiam reprehenderit accusamus laboriosam quae repellat. Totam, ab quo porro debitis, minus harum molestiae explicabo libero distinctio et magni rem perspiciatis voluptates deserunt quam, ex a quas suscipit sunt? Aperiam voluptate autem esse, ullam fugiat iure corporis officia. Ad quibusdam fuga, quidem ea officia earum tempore? Dolorem molestias odio dolores laboriosam voluptate perspiciatis cumque? Minus perspiciatis totam dolorum eum molestias autem asperiores accusantium neque nam nobis reiciendis magni nulla molestiae eos non officia praesentium, dolorem unde impedit saepe modi doloremque. Maiores!
                <a href="#">Continue Reading >>></a>
            </p>
        </section>
    </article>
</div>


<script src="{% static 'js/list-posts.js' %}"></script>

{% endblock %}