{% extends 'base/base.html' %} {% load static %} {% block content %}
<div class="posts">
    <!-- post template -->
    <!-- <article class="post-container">
        <section class="user-details">
            <div class="user-profile">
                <div class="right">
                    <img src="{% static 'images/default.png' %}" alt="User-img"
                    height=40" width="40">
                    <h4 class="author-name">
                        <a
                            href="{% url 'users:profile' username=request.user.profile.username %}"
                            >username</a
                        >
                    </h4>
                </div>
                <div class="right">
                    <button>Archive</button>
                </div>
            </div>
        </section>
        <section class="post-data">
            <div class="post-image">
                <img src="{% static 'images/example.jpg' %}" alt="Post-img" />
            </div>
            <small class="posted-on">Thu, Sep 03 2020</small>
            <p class="post-description">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Adipisci, fugiat. Ullam ut, quae, quam sint repellat quos dolor
                enim mollitia dolores amet nulla quod animi!
            </p>
        </section>
        <section class="social-btns">
            <span class="likes-no post-${post.id}">100</span
            ><button type="button" class="social-btn like-btn">
                <i class="far fa-thumbs-up not-liked" data-id="1"></i>
            </button>

            <span class="comments-no post-1">100</span
            ><button type="button" class="social-btn comment-btn">
                <i class="far fa-comment" data-id="1"></i>
            </button>
        </section>
    </article> -->
</div>

<script type="module" src="{% static 'js/listPost/list-posts.js' %}"></script>

{% endblock %}
