{% extends "base.html" %}
{% load static %}
{% block head %}
	<link rel="stylesheet" type="text/css" href="{% static 'css/detail.css' %}">
{% endblock %}
{% block content %}
<div class="contain">
	<h1>{{ post.title|title }}</h1>
	{% if post.img %}
	<img src="{{post.img.url}}">
	{% endif %}
	<div class="small-stuff">
		<p>Created : {{ post.created }}</p>
		<p>Updated : {{ post.updated }}</p>
		<p>By : {{ post.user }}</p>
	</div>
	<br>
	<p class="description">{{ post.description }}</p>
	{% if liked %}
			<a href="{% url 'like' slug=post.slug destination='detail' %}">
			<button><span class="count">{{like_no}}</span><i class="fas fa-thumbs-up post-icon"></button></i></a>
	{% else %}
		<a href="{% url 'like' slug=post.slug destination='detail' %}">
			<button><span class="count">{{like_no}}</span><i class="far fa-thumbs-up post-icon"></button></i></a>
	{% endif %}
	<a href="{% url 'add-comment' slug=post.slug %}">
		<button><span class="count">{{num_comments}}</span><i class="fas fa-comments post-icon"></i></button>
	</a>

	<div class="comments">
		<h3>Comments :</h3>
		{% for comment in comments %}
		<div class="single-comment">
			<div class="comment-user"><b>{{ comment.user }}</b></div>
			<p class="comment-time">{{commented_time}}</p>
			<div class="com">{{ comment.comment }}</div>
		</div>
		{% endfor %}
	</div>
</div>

{% endblock %}