{% extends "base.html" %}
{% load static %}
{% block head %}
	<link rel="stylesheet" type="text/css" href="{% static 'css/display_posts.css' %}">
{% endblock %}
{% block content %}
<div class="container">
<h1>All Posts</h1>

{% for post, liked, like_no in master %}
<div class="display-posts">
	<a href="{% url 'detail-post' pk=post.pk %}"><h3>{{ post.title|title }}</h3></a>
	<p>Created : {{ post.created }}</p>
	<p>Updated : {{ post.updated }}</p>
	<p>By : <a href="{% url 'display' user_id=post.user.pk %}">{{ post.user }}</a></p>
	{% if post.img %}
		<img src="{{post.img.url}}">
	{% endif %}
	<p class="description">{{ post.description|truncatewords:20 }}</p>
	{% include "accounts/likes_logic.html" %}
	<br>
</div>

{% endfor %}
</div>
{% endblock %}