.master{
	display: grid;
	grid-template-columns: 1fr 1fr 4fr;
	height: 100%;
	margin: 0;
	padding: 0;
}
.posts-container{
	font-size: 17px;
	text-align: left;
	max-height: 100%;
	overflow-y: auto;
	margin-right: 30px;
}
.heading{
	font-size: 4rem;
}
.posts-container hr{
	width: 70%;
}
.profile-posts{
	margin: 5px;
	padding: 20px;
	border-radius: 10px;
	border: 2px #E2DEDE solid;
	margin-right: 20px;
	-webkit-box-shadow: inset 0px 0px 50px -10px #000000; 
	box-shadow: inset 0px 0px 50px -10px #000000;
}
.user-data{
	padding-left: 5px;
	font-weight: 500;
}
.post-button{
	margin: 10px;
}
.post-button button{
	border-radius: 10px;
	font-size: 20px;
	padding: 5px;
}
.active button{
	background-color: orange;
	border-color: orange;
}
.date{
	font-size: 13px;
}
a{
	text-decoration: none;
	color: #FF5D00;

}
